teste.xml

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/" xmlns:WL5G3N1="http://servicos.saude.gov.br/horus/v1r0/EstoqueService" xmlns:WL5G3N2="http://servicos.saude.gov.br/wsdl/mensageria/falha/v5r0/msfalha" xmlns:WL5G3N3="http://schemas.xmlsoap.org/wsdl/soap12/" name="EstoqueService" targetNamespace="http://servicos.saude.gov.br/horus/v1r0/EstoqueService">
<wsdl:types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<xsd:import namespace="http://servicos.saude.gov.br/horus/v1r0/EstoqueService" schemaLocation="https://servicos.saude.gov.br/horus/v1r0/EstoqueService?WSDL&type=XSD&file=schema%3A0f2d6d57-3e90-42d7-851c-c68e7b203254"/>
</xsd:schema>
</wsdl:types>
<wsdl:message name="requestConsultarPosicaoEstoquePorCNES">
<wsdl:part element="WL5G3N1:requestConsultarPosicaoEstoquePorCNES" name="requestConsultarPosicaoEstoquePorCNES"/>
</wsdl:message>
<wsdl:message name="responseConsultarPosicaoEstoquePorCNES">
<wsdl:part element="WL5G3N1:responseConsultarPosicaoEstoquePorCNES" name="responseConsultarPosicaoEstoquePorCNES"/>
</wsdl:message>
<wsdl:message name="EstoqueFault">
<wsdl:part element="WL5G3N2:MSFalha" name="fault"/>
</wsdl:message>
<wsdl:message name="requestConsultarPosicaoEstoquePorCNESPrincipioAtivo">
<wsdl:part element="WL5G3N1:requestConsultarPosicaoEstoquePorCNESPrincipioAtivo" name="requestConsultarPosicaoEstoquePorCNESPrincipioAtivo"/>
</wsdl:message>
<wsdl:message name="responseConsultarPosicaoEstoquePorCNESPrincipioAtivo">
<wsdl:part element="WL5G3N1:responseConsultarPosicaoEstoquePorCNESPrincipioAtivo" name="responseConsultarPosicaoEstoquePorCNESPrincipioAtivo"/>
</wsdl:message>
<wsdl:message name="requestConsultarPosicaoEstoquePorCNESPrincipioAtivoPaginado">
<wsdl:part element="WL5G3N1:requestConsultarPosicaoEstoquePorCNESPrincipioAtivoPaginado" name="requestConsultarPosicaoEstoquePorCNESPrincipioAtivoPaginado"/>
</wsdl:message>
<wsdl:message name="responseConsultarPosicaoEstoquePorCNESPrincipioAtivoPaginado">
<wsdl:part element="WL5G3N1:responseConsultarPosicaoEstoquePorCNESPrincipioAtivoPaginado" name="responseConsultarPosicaoEstoquePorCNESPrincipioAtivoPaginado"/>
</wsdl:message>
<wsdl:message name="requestConsultarProdutoPorCNESDispensacao">
<wsdl:part element="WL5G3N1:requestConsultarProdutoPorCNESDispensacao" name="requestConsultarProdutoPorCNESDispensacao"/>
</wsdl:message>
<wsdl:message name="responseConsultarProdutoPorCNESDispensacao">
<wsdl:part element="WL5G3N1:responseConsultarProdutoPorCNESDispensacao" name="responseConsultarProdutoPorCNESDispensacao"/>
</wsdl:message>
<wsdl:message name="requestConsultarProdutoPorCNESDispensacaoPaginado">
<wsdl:part element="WL5G3N1:requestConsultarProdutoPorCNESDispensacaoPaginado" name="requestConsultarProdutoPorCNESDispensacaoPaginado"/>
</wsdl:message>
<wsdl:message name="responseConsultarProdutoPorCNESDispensacaoPaginado">
<wsdl:part element="WL5G3N1:responseConsultarProdutoPorCNESDispensacaoPaginado" name="responseConsultarProdutoPorCNESDispensacaoPaginado"/>
</wsdl:message>
<wsdl:portType name="EstoqueServicePortType">
<wsdl:operation name="consultarPosicaoEstoquePorCNES">
<WL5G3N0:documentation>
Retorna a posição de estoque por número CNES do estabelecimento de Saúde.
</WL5G3N0:documentation>
<wsdl:input message="WL5G3N1:requestConsultarPosicaoEstoquePorCNES" name="requestConsultarPosicaoEstoquePorCNES"/>
<wsdl:output message="WL5G3N1:responseConsultarPosicaoEstoquePorCNES" name="responseConsultarPosicaoEstoquePorCNES"/>
<wsdl:fault message="WL5G3N1:EstoqueFault" name="EstoqueFault"/>
</wsdl:operation>
<wsdl:operation name="consultarPosicaoEstoquePorCNESPrincipioAtivo">
<WL5G3N0:documentation>
Retorna a posição de estoque por número CNES do estabelecimento de Saúde.
</WL5G3N0:documentation>
<wsdl:input message="WL5G3N1:requestConsultarPosicaoEstoquePorCNESPrincipioAtivo" name="requestConsultarPosicaoEstoquePorCNESPrincipioAtivo"/>
<wsdl:output message="WL5G3N1:responseConsultarPosicaoEstoquePorCNESPrincipioAtivo" name="responseConsultarPosicaoEstoquePorCNESPrincipioAtivo"/>
<wsdl:fault message="WL5G3N1:EstoqueFault" name="EstoqueFault"/>
</wsdl:operation>
<wsdl:operation name="consultarPosicaoEstoquePorCNESPrincipioAtivoPaginado">
<WL5G3N0:documentation>
Retorna a posição de estoque por número CNES do estabelecimento de Saúde, de forma paginada.
</WL5G3N0:documentation>
<wsdl:input message="WL5G3N1:requestConsultarPosicaoEstoquePorCNESPrincipioAtivoPaginado" name="requestConsultarPosicaoEstoquePorCNESPrincipioAtivoPaginado"/>
<wsdl:output message="WL5G3N1:responseConsultarPosicaoEstoquePorCNESPrincipioAtivoPaginado" name="responseConsultarPosicaoEstoquePorCNESPrincipioAtivoPaginado"/>
<wsdl:fault message="WL5G3N1:EstoqueFault" name="EstoqueFault"/>
</wsdl:operation>
<wsdl:operation name="consultarProdutoPorCNESDispensacao">
<WL5G3N0:documentation>
Retorna a posição de estoque por número CNES que dispensou o medicamento.
</WL5G3N0:documentation>
<wsdl:input message="WL5G3N1:requestConsultarProdutoPorCNESDispensacao" name="requestConsultarProdutoPorCNESDispensacao"/>
<wsdl:output message="WL5G3N1:responseConsultarProdutoPorCNESDispensacao" name="responseConsultarProdutoPorCNESDispensacao"/>
<wsdl:fault message="WL5G3N1:EstoqueFault" name="EstoqueFault"/>
</wsdl:operation>
<wsdl:operation name="consultarProdutoPorCNESDispensacaoPaginado">
<WL5G3N0:documentation>
Retorna a posição de estoque por número CNES que dispensou o medicamento, de forma Paginada.
</WL5G3N0:documentation>
<wsdl:input message="WL5G3N1:requestConsultarProdutoPorCNESDispensacaoPaginado" name="requestConsultarProdutoPorCNESDispensacaoPaginado"/>
<wsdl:output message="WL5G3N1:responseConsultarProdutoPorCNESDispensacaoPaginado" name="responseConsultarProdutoPorCNESDispensacaoPaginado"/>
<wsdl:fault message="WL5G3N1:EstoqueFault" name="EstoqueFault"/>
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="EstoqueServiceSOAP12Binding" type="WL5G3N1:EstoqueServicePortType">
<WL5G3N3:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="consultarPosicaoEstoquePorCNES">
<WL5G3N0:documentation>
Retorna a posição de estoque por número CNES do estabelecimento de Saúde.
</WL5G3N0:documentation>
<WL5G3N3:operation soapActionRequired="false"/>
<wsdl:input>
<WL5G3N3:body use="literal"/>
</wsdl:input>
<wsdl:output>
<WL5G3N3:body use="literal"/>
</wsdl:output>
<wsdl:fault name="EstoqueFault">
<WL5G3N3:fault name="EstoqueFault" use="literal"/>
</wsdl:fault>
</wsdl:operation>
<wsdl:operation name="consultarPosicaoEstoquePorCNESPrincipioAtivo">
<WL5G3N0:documentation>
Retorna a posição de estoque por número CNES e principio ativo do estabelecimento de Saúde.
</WL5G3N0:documentation>
<WL5G3N3:operation soapActionRequired="false"/>
<wsdl:input>
<WL5G3N3:body use="literal"/>
</wsdl:input>
<wsdl:output>
<WL5G3N3:body use="literal"/>
</wsdl:output>
<wsdl:fault name="EstoqueFault">
<WL5G3N3:fault name="EstoqueFault" use="literal"/>
</wsdl:fault>
</wsdl:operation>
<wsdl:operation name="consultarPosicaoEstoquePorCNESPrincipioAtivoPaginado">
<WL5G3N0:documentation>
Retorna a posição de estoque por número CNES e principio ativo do estabelecimento de Saúde, de forma paginada.
</WL5G3N0:documentation>
<WL5G3N3:operation soapActionRequired="false"/>
<wsdl:input>
<WL5G3N3:body use="literal"/>
</wsdl:input>
<wsdl:output>
<WL5G3N3:body use="literal"/>
</wsdl:output>
<wsdl:fault name="EstoqueFault">
<WL5G3N3:fault name="EstoqueFault" use="literal"/>
</wsdl:fault>
</wsdl:operation>
<wsdl:operation name="consultarProdutoPorCNESDispensacao">
<WL5G3N0:documentation>
Retorna a posição de estoque por número CNES que dispensou o medicamento.
</WL5G3N0:documentation>
<WL5G3N3:operation soapActionRequired="false"/>
<wsdl:input>
<WL5G3N3:body use="literal"/>
</wsdl:input>
<wsdl:output>
<WL5G3N3:body use="literal"/>
</wsdl:output>
<wsdl:fault name="EstoqueFault">
<WL5G3N3:fault name="EstoqueFault" use="literal"/>
</wsdl:fault>
</wsdl:operation>
<wsdl:operation name="consultarProdutoPorCNESDispensacaoPaginado">
<WL5G3N0:documentation>
Retorna a posição de estoque por número CNES que dispensou o medicamento, de forma paginada.
</WL5G3N0:documentation>
<WL5G3N3:operation soapActionRequired="false"/>
<wsdl:input>
<WL5G3N3:body use="literal"/>
</wsdl:input>
<wsdl:output>
<WL5G3N3:body use="literal"/>
</wsdl:output>
<wsdl:fault name="EstoqueFault">
<WL5G3N3:fault name="EstoqueFault" use="literal"/>
</wsdl:fault>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="EstoqueService">
<wsdl:port binding="WL5G3N1:EstoqueServiceSOAP12Binding" name="EstoqueServicePort">
<WL5G3N3:address location="https://servicos.saude.gov.br/horus/v1r0/EstoqueService"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>
